.paper
	include _flash
	- var node = _nodeBox.node
	.paper-title.node-title 
		a(href='/' + node.id) #{node.title}
	.paper-content
		!= node.content
		a.hide(href="#") #
	- if (node.pageCount > 0)
		.paper-catalog
			- var _pageLinks = { pages: node.pages, current: ''}
			include _pageLinks
	- else
		.paper-catalog.hide
			a(href="#") #