mixin pageLink(page, current)
	li 
		- if (page.id == current)
			#{page.title}
		- else
			a(href="/#{node.id}/#{page.id}") #{page.title}
		// = page.created

mixin pageLinkList(pages)
	ul
		each page in pages
			mixin pageLink(page)

mixin pageLinkList(_pageLinks.pages, _pageLinks.current)