extends ./layout/full

block design
	style(type="text/css")
		#{node.safeCss}

block main
	include _nodeNav
	- var _nodeBox = {node: node}
	include _nodeBox
	- var _versionFoot = {editCount: node.editCount, modified: node.modified}
	include _versionFoot
	