doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/asserts/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/asserts/stylesheets/style.css')
		block asserts
	body
		block content
		script(src='http://code.jquery.com/jquery-latest.js')
		script(src='/asserts/bootstrap/js/bootstrap.min.js')