body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.huge
	font-size: 72px
	line-height: 1
	

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

radius()
	-webkit-border-radius: arguments
	-moz-border-radius: arguments
	border-radius: arguments

.clear
	clear: both

.hide
	display: none;

textarea.css
	font-size: 12px
	width: 540px

#nav
	position: fixed
	display: block
	width: 300px
	height: 30px
	top: 10px
	right: 15px
	text-align: right
	.site
		margin-right: 1.5em
	a
		background: #333
		color: #fff
		padding: 1px 3px
		margin: 0 1px
		text-decoration: none;
	a:hover
		background: #999
		color: #222


.paper
	margin: 30px auto 0
	width: 780px
	
	.dropup 
		ul
			opacity: 1 !important
	.alert
		border: 5px solid #fff
	
	.paper-title
		padding: 10px 20px
		line-height: 1.4
	
	.node-title
		a
			font-size: 32px
			font-weight: bold
		a:hover
			text-decoration: none

	.page-title
		a
			font-size: 16px
			font-weight: bold
	
	.paper-content
		padding: 30px
		line-height: 1.5
	
	.paper-catalog
		padding: 20px
		li
			font-size: 16px
			list-style: circle


#design-sidebar
	padding: 10px
	width: 200px
	background: #fff
	position: fixed
	left: 0
	top: 0
	bottom: 0
	
	#cssPanel
		margin-left: -10px
		textarea
			font-size: 12px
			width: 130px
		
	form#designPanel 
		select
			font-size: 12px
			height: 16px
			margin: 2px
		input.url
			font-size: 12px
			margin: 2px
			height: 16px
			width: 80px
	
	.saveDesign
		margin-top: 1em
		height: 50px

	form.customize
		margin-left: -8px
		select
			font-size: 12px
			height: 16px
			display: inline-block
			padding: 2px 4px
			margin: 2px
		
		input.url
			font-size: 12px
			height: 16px
			width: 60px
			display: inline-block
			padding: 2px 4px
			margin: 2px
			
		input.color
			margin: 1px
		
		
		
	
	ul.templates 
		margin-left: -8px
		width: 150px

		li.template 
			display: block
			list-style: none
			width: 140px
			height: 160px
			margin: 15px auto
			cursor: pointer
			
			.mini-paper 
				padding: 20px	
				.mini-paper-title 
					padding: 2px 4px
					font-size: 10px
					font-weight: bold
					height: 20px
				
				.mini-paper-content 
					padding: 5px
					font-size: 8px
					height: 60px
				
				.mini-paper-foot 
					height: 10px
	
	
	ul.patterns 
		margin-left: -8px
		width: 150px
		
		li.pattern 
			display: block
			list-style: none
			width: 140px
			height: 80px
			margin: 15px auto
			cursor: pointer
		
.password-tip
	color: green	

.sheet
	margin: 0 auto 20px
	background-color: #FFFFFF
	border: 1px solid #E5E5E5
	// radius 5px
	padding: 0
	box-shadow 0 1px 2px rgba(0, 0, 0, .05)

.sheet-medium
	max-width: 650px

.sheet-mini
	max-width: 380px

.sheet-title
	// margin-top: 20px
	padding-left: 10px
	background: #999
	height: 30px
	line-height: 30px
	color: #eee
	a
		color: #fff

.sheet-container
	padding: 19px 29px 29px
	

.system-background
	background-color: #f5f5f5

/* Custom container */
.container-narrow 
	margin: 0 auto
	max-width: 760px



/* Main marketing message and sign up button */
.jumbotron 
	margin: 60px 0
	text-align: center
	
	h1 
		font-size: 72px
		line-height: 1
		
	.btn 
		font-size: 21px
		padding: 14px 24px
	


/* Supporting marketing content */
.marketing 
	margin: 60px 0
	p + h4 
		margin-top: 28px

#foot
	text-align:right
	position: fixed
	width: 300px
	bottom: 10px
	right: 20px
	font-size: 10px

#node-foot
	text-align:left
	position: fixed
	width: 300px
	bottom: 10px
	left: 20px
	font-size: 10px