extends ../layout/system
	
block main
	.sheet.sheet-medium
		.sheet-title
			a(href='/' + node.id) 
				= node.title
		.sheet-container
			h2
				= __i('create page')
			hr
			- var _entity = { action: '/create/' + node.id + '/' + page.id, title: form.title, content: form.content, format: '0', errors: errors }
			include _entity