extends ../layout/system
	
block main
	.sheet.sheet-medium
		.sheet-title
			i.icon-home.icon-white
			| 
			a(href='/' + node.id) 
				= node.title
			|  >  
			a(href='/' + node.id + '/' + page.id) 
				= page.title
		.sheet-container
			include _alertErrors
			- var _css = { action: '/css/' + node.id + '/' + page.id, target: 'page', css: form.extraCss}
			include _css