extends ../layout/system
	
block main
	.sheet.sheet-medium
		.sheet-title
			i.icon-home.icon-white
			| 
			a(href='/' + node.id) 
				= node.title
			|  >  
			a(href='/' + node.id + '/' + page.id) 
				= page.title
		.sheet-container
			h2
				= __i('edit page')
			hr
			- var _entity = { action: '/edit/' + node.id + '/' + page.id, deleteAction: '/remove/' + node.id + '/' + page.id, hiddens: [{name: '_id', value: page._id} , {name: 'id', value: page.id}], title: form.title, content: form.content, format: form.format }
			include _entity