extends ../layout/system
	
block main
	.sheet.sheet-mini
		.sheet-title
			small > 
			a(href='/' + id)
				= id
		.sheet-container
			h3
				= __i('read authorize')
			hr
			- var _authorize = {action: '/auth/read/' + id}
			include _authorize