extends ./narrow

block design
	style(type="text/css")
		#{design}

block asserts
	script(src='/asserts/javascripts/theme.color.js')

block main
	- var nodeBox = {node: node, isAdmin: isAdmin}
	include nodeBox
