mixin pageLink(page, current)
	li 
		- if (page.id == current)
			#{page.title}
		- else
			a(href="/#{node.id}/#{page.id}", target="_blank") #{page.title}

mixin pageLinkList(pages)
	.paper-catalog
		ul
			each page in pages
				mixin pageLink(page)

mixin pageLinkList(pageLinks.pages, pageLinks.current)